<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yek.mybatis.mapper.CountryMapper">
    <select id="selectAll" resultType="com.yek.mybatis.entity.Country">
        SELECT id,country_name AS countryName,country_code AS countryCode FROM country
    </select>
</mapper>