<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理系统</title>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.js"></script>
    <!-- put your locale files after bootstrap-table.js -->
    <script src="/webjars/bootstrap-table/1.12.1/dist/locale/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.css" />

    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" />

</head>
<body>
<div class="container">
    <br/>
    <!--<div class="alert alert-success">-->
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>-->
        <!--Hello, <strong>WebJars!</strong>-->
    <!--</div>-->
    <div class="text-center" id="h1id">
        <h1>欢迎使用学生管理系统</h1>
    </div>
    <div>
        <!-- class="table-striped table-bordered table-hover table-responsive" -->
        <table id="students-table" ></table>
    </div>



</div>
</body>

</html>